:root {
  /* Colors */
  --primary: #2f2d30;
  --secondary: #5c94bc;

  --primary-hover: #898a8b;
  
  --white: #fff;
  --white-trans: #ffffff50;
  --light-grey: #f6f9fa;
  --grey: #d8d7d6;
  --muted: #92a1a6;
  --black: #201f25; 
  --brown:#8a5042;
  --light-brown: #a4735e;
  --super-light-brown: #e3aa8a;
  --pink: #e7d2c9;
  --blue:#1f4267;
  --creme:#eee6e3;



  --shadow: #c2c2c291;

  /* Fonts */
  --main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --header-font: Dancing Script , cursive;

  /* Layout */
  --navbar-height: 60px;
}